* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    padding: 2rem;background-color: #1c2b21;
    background-image: linear-gradient( 109.6deg,  rgba(138, 162, 164, 0.33) 11.2%, rgba(236, 206, 241, 0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );

    
  }
  input::placeholder{
    color: aliceblue;
    padding-left: 10px;
  }
 
 
  .main-container {
    height: 710px;
    width: 100%;
    
    padding-top: 1.4rem;
    padding-bottom: 1rem;
   
  
  }
  .box {
    height: 50%;
    width: 45%;
    border: 1px solid blue;
    margin: auto;
    border-radius: 0.7rem;
    background-color: #030c13;
background-image: linear-gradient(135deg, #030c13 0%, #9599E2 100%);
    box-shadow: 0 0 5px 1px;

  }

  @media (max-width:403px) {
    .box{
      width: 100%;
    }
    
  }
  @media (max-width:542px) {
    .box{
      width: 60%;
    }
    
  }
  @media (max-width:1045px) {
    .box{
      height: 43%;
    }
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .b1{
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    
  }
  .b1 p{
    font-size:1.3rem ;
    letter-spacing: 0.06rem;
    color: white;
  }
  .b2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:1% auto ;
    height: 40px;
    
  }

  .b3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:1% auto;
    height: 40px;
    
  }
  .b4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:1% auto ;
    height: 40px;
   
  }
  .b5{
    display: flex;
    flex-direction: column;
    margin: 1% auto;
    justify-content: center;
    height: 40px;
    
  }
  .b6{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    
  }
  .b7{
   
    margin-left: 193px;
    border: 1px solid rgba(12, 0, 0, 0.922);
    border-radius: 20px;
    width:124px;
    padding: 3px 10px;
    display: none;
  }
  .b7 p{
    font-size: 25px;color: azure;
  }
  .b6 button{
    width: fit-content;border-radius: 1rem;height: 1.8rem;border-color:red;background-color: #349395;
background-image: linear-gradient(90deg, #349395 0%, #FC00FF 100%);
letter-spacing: 0.01rem;color: azure;
padding: 3px 1.3%;
  }
  .can1{
    padding-left: 2%;
  } 
  .can1 label{
    color: white;
  }
  /* .can2{
    padding-left: 21%;
  } */
  
  .can2{
    margin-top: 0.6%;
  }
  .can2 input{
    border-radius: 1rem;
    height: 1.6rem;border-color: red;
    background-color: #11dcdf;
background-image: linear-gradient(90deg, #11dcdf 0%, #FC00FF 100%);
padding-left: 7px; 
box-sizing: border-box;

  }
  @media (max-width:2103px) {
    .can2 input{
      padding-left:7px;
    }
    
  }
  @media (max-width:403px) {
    .can2 input{
      width: 90%;
    }
    
  }
  @media (max-width:310px) {
   
    .box{
      height: 38%;
    }
    .can2 input::placeholder{
      padding-left: 5px;
      font-size: 10px;
    }
    
  }
  
 
 
