body{
    
    background-color: gainsboro;
    justify-content: center;
    align-items: center;

}

.main-container{
    display: flex;
    flex-direction: column;
    border: 2px solid black; width: 330px;
    margin: auto;
    height: 450px;
}


  h2{
    align-items:center;
  }


  div {
    margin-bottom: 15px;
    padding-left: 10px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .box1{
    text-align: center;
   display: none;
  }