* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, pink 0%, purple 100%);
}

.box 
{
    padding: 30px 30px 30px 30px;
    width: 300px;
    backdrop-filter: blur(50px);
    border-radius: 7px;
    background: rgba(37, 28, 28, 0.2);
    border: 2px solid rgba(92, 72, 72, 0.5);
    box-shadow: 10px 10px 10px 0px rgb(100, 35, 86) ;
}
.box .form
{
    padding: 10px 10px 10px 10px;
}
.box .form h2
{
    text-align: center;
    color: white;
    font-size: 32px;
    padding-top: 20px;
}
.box .form form 
{
    margin-top: 40px;
    align-items: center;
}

.box .form form .inputbox input
{
    padding: 10px 20px;
    margin: 4px;
    border: none;
    outline: none;
    border: 2px rgb(22, 18, 18);
    background: transparent;
    color: black;
    font-size: medium;
    font-weight: bold;

}
.box .form form .inputbox 
{
    border-bottom: 1px solid white;
    display: flex; 
    flex-direction: row; 
    align-items: center;
}
input::placeholder {
    color: white;
}

.box .form form .dropdown
{
    padding: 10px 20px;
margin: 10px;
width: 100%;
    
}

.submit_{
    padding-top: 30px;
    margin-bottom: 10px;
    display: flex; 
    justify-content: center;
    
}
.reset_
{
    margin-top: 20px;
    display: flex; 
    justify-content: center;
}
#submitData, #resetData
{
    background-color: rgb(223, 105, 170);
    width: 100%;
    padding: 5px;
    font-size: medium;
    color: white;
    cursor: pointer;
    border-radius: 0px;
    border: none;

}
.image
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 10px 0px;
    gap: 20px;
    margin-top: 10px;    
    color: white;
    
}
