/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15cm;
    background-color: rgb(28, 174, 106, 0.621);
    margin: 0;
}

.container {
    background-color: yellow;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 50px 50px 0px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bolder;
}

form div {
    margin-bottom: 10px;
}

label {
    display: inline;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}
