@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
    font-family: "Poppins" , sans-serif;
    --for-dark:208;
    --bg-color:#fff;
    --main-hue: 28.1;
    --input-bg:  hsla(var(--main-hue), 50%, 50%, 6.5%);
    --input-bg-hover:  hsla(var(--main-hue), 50%, 50%, 14%);

}

.dark{
    --bg-color: hsl(var(--for-dark),30%,16.5%);
    --input-bg:  hsla(var(--for-dark), 22%, 50%, 11%);
    --input-bg-hover:  hsla(var(--for-dark), 22%, 50%, 18.5%);
    --text-color:#fff;

}
.dark .logo img.Logo-For-Dark{
    opacity: 1;
}
.dark .logo img.Logo-For-Light{
    opacity: 0;
}

.transition{
    transition: 1s cubic-bezier(0.4,0.1,0.4,1) !important;
}

a{
    text-decoration: none;
}

.background{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:hsla(var(--for-dark), 30%, 16.5%, 80%);
    z-index: 2;
    opacity: 0;
}
.dark .background{
    opacity: 1;
}

header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;

}
header .container{
    max-width: 82rem;
    /* background-color: red; */
    margin: 0 auto;
    padding: 0 1rem;
    height: 65px;
    display: flex;
    align-items: flex-end;
}

header ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: 3rem;

}

.logo .images{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.logo img{
    height: 35px;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-right: 0.8rem;
}

.logo img.Logo-For-Dark{
    opacity: 0;
}
/* .logo h2{
    color: black;
    font-size: 1.55rem;
    margin-top: 2px;
} */

.nav-link{
    margin-left: 8rem;
    padding: 0 1rem;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(126, 122, 122);
    transition: 0.3s;
}

.nav-link:hover{
    color: rgb(218, 102, 40);
}
.nav-link.theme-toogle{
    cursor: pointer;
}
.theme-toogle .fa-moon{
    display: none;
}
.theme-toogle .fa-sun{
    display: inline;
}
.dark .theme-toogle .fa-moon{
    display: inline;
}
.dark .theme-toogle .fa-sun{
    display: none;
}

/* MAIN */

.contact{
    width: 100%;
    overflow: hidden;
    background-color: var(--bg-color);
}
.contact .container{
    height: 100vh;
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

}
.contact .container > div{
    grid-column: 1/2;
    grid-row: 1/2;
}

.left{
    
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    /* background-color: khaki; */
    padding: 65px 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    position: relative;
    z-index: 3;
}
.contact-heading h1{
    font-weight: 600;
    color: var(--text-color);
    font-size: 3.5rem;
    line-height: 0.9;
    white-space: nowrap;
    margin-bottom: 1.2rem;

}

.contact-heading h1 span{
    color:rgb(218, 102, 40);
}
.text{
    color: rgb(218, 102, 40);
    line-height: 1.1;
    font-weight: 450;
    font-size: 1.5rem;
}

.form-wrapper{
    max-width: 32rem;
}

.contact-form{
    display: grid;
    margin-top: 2.55rem;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    row-gap: 1rem;

}

.input-wrap{
    position: relative;
}

.input-wrap.w-100{
    grid-column: span 2;

}

.contact-input{
    width: 100%;
    background-color: var(--input-bg);
    padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    border: none;
    outline: none;
    font-family: inherit;
    border-radius: 20px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 0.95rem;
    border: 2px solid transparent;
    box-shadow: 0 0 0 0px hsla(var(--main-hue), 92%, 54%, 0.169);
    transition: 0.3s;
}
.contact-input:hover{
    background-color: var(--input-bg-hover);
}

.input-wrap label{
    position: absolute;
    top: 50%;
    left: calc(1.35rem + 2px);
    transform: translateY(-50%);
    color:hsla(var(--main-hue), 100%, 50%, 43%);
    pointer-events: none;
    transition: 0.25s;

}

.input-wrap .icon{
    position: absolute;
    right: calc(1.35rem + 2px);
    top: 50%;
    transform: translateY(-50%);
    color: rgb(225, 117, 39);
    font-size: 1.25rem;
    transition: 0.3s;
}

.input-wrap.focus .contact-input{
    background-color:var(--bg-color) ;
    border: 2px solid hsla(var(--main-hue), 91%, 55%);
    box-shadow: 0 0 0 0px hsla(var(--main-hue), 91%, 55%, 0.11);
}

.input-wrap.focus label{
    color:hsla(var(--main-hue), 91%, 55%) ;
}
.input-wrap.focus .icon{
    color:hsla(var(--main-hue), 91%, 55%) ;
}

.input-wrap.not-empty label{
    font-size: 0.66rem;
    top: 0.75rem;
    transform: translateY(0);
}

.contact-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    grid-column: span 2;
}
/* 228 247 228 */
.btn{
    display: inline-block;
    padding: 1.1rem 2rem;
    background-color: rgb(242, 249, 242);
    color: rgb(36, 159, 36);
    border-radius: 40px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color: rgb(216, 245, 216);
}
.btn.upload{
    position: relative;
    background-color: var(--input-bg);
}
.btn.upload span{
    color:hsla(var(--main-hue), 100%, 50%, 43%);
}
.btn.upload:hover{
    background-color: var(--input-bg-hover);
}

.btn.upload input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: red;
    cursor: pointer;
    opacity: 0;
}

.right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    overflow: hidden;
    pointer-events: none;

}

.image-wrapper{
    position: relative;
    grid-column: 2;
    
}

.image-wrapper .img{
    position: absolute;
    height: 120%;
    width: 120%;
    left: 60%;
    top: 50%;
    transform: translate(-50% , -50%);

}

.dark .image-wrapper .img{
    transform: translate(-50%,-50%) scale(1.7);

}

.wave-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    background-color: var(--bg-color);
}

.wave-wrap svg{
    position: absolute;
    /* background-color: red; */
    height: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 2px);

}

#wave {
    fill: var(--bg-color);
    height: 100%;

}

.dashed-wave{
    position: absolute;
    
    z-index: 3;
    height: 128%;
    bottom: 53%;
    left: -18px;
    transform: translateY(50%);
}

#dashed-wave{
    fill: none;
    stroke: rgb(247, 227, 191);
    stroke-width: 4px;
    stroke-dasharray: 6.5;
    opacity: 0.8;
}

/* Making responsive */

@media(max-width:1000px){
    .logo{
        margin-right: 1rem;
    }
    .logo img{
        height: 30px;
        margin-right: 0.7rem;

    }
    .nav-link{
        margin-left: 3.5rem;
        padding: 0 0.8rem;
        font-size: 0.9rem;
    }
    .nav-link.theme-toogle{
        font-size: 1rem;
    }
    .contact-heading h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
        white-space: normal;

    }
    .text{
        font-size: 0.9rem;
    }
    .contact-form{
        display: grid;
        margin-top: 1.9rem;
        column-gap: 0.8rem;
        row-gap: 0.65rem;
        
    }
    .contact-input{
        border-radius: 17px;
        font-size: 0.87rem;
        padding: 1.5rem 1.2rem calc(0.75 - 2px) 1.2rem;
    }
    .input-wrap label{
        font-size: 0.91rem;
        left: calc(1.2rem + 2px);
    }
    .input-wrap .icon{
        font-size: 1.1rem;
        right: calc(1.2rem + 2px);
    }

    .contact-buttons{
        column-gap: 0.8rem;
        margin-top: 0.45rem;
    }
    .btn{
        padding: 1rem 1.5rem;
        font-size: 0.87rem;
    }
    .dashed-wave{
        bottom: 50%;
        left: -15px;
    }
    #dashed-wave{
        stroke-width: 4px;
        stroke-dasharray: 6;
    }
    .wave-wrap{
        transform: translateX(-10%);
    }
    .wave-wrap svg{
        height: calc(110% + 10px);
        transform: translate(-5% , -47%);
    }
}
@media(max-width:650px){
    header .container{
        height: 50px;
    }
    .left{
        padding: 50px 1.5rem 0;
    }
    header ul{
        justify-content: space-between;
        width: 100%;
    }
    .logo{
        margin-right: 0;
    }
    .nav-link{
        margin-left: 0;
    }
    .right{
        display: none;
    }
    .left{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .form-wrapper{
        width: 100%;
        padding: 1rem 0;
    }
}
@media(max-width:440px){
    .input-wrap{
        grid-column: span 2;
    }
    .contact-buttons{
        grid-template-columns: 1fr;
        row-gap: 0.5rem;
    }
    .contact-heading h1{
        font-size: 1.9rem;
        line-height: 1;
    }
    .logo img{
        height: 25px;
        margin-right: 0.7rem;
    }
    .logo h2{
        font-size: 1.15rem;
    }
}